---
 const personalImageAlt = "Rafael Tabasca"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I’m a systems engineer with more than four years of experience in programming as a full-stack developer; 
      I've developed my programming skills thanks to my passion for learning, my goal is to solve problems to deliver optimal solutions.
    </p>

    <p>
      One of my projects includes <strong
        >development of an online music school platform</strong
      >. I was responsible for the implementation of robust and scalable solutions for record songs, manage students, and create courses.
    </p>

    <p>
      As Software developer, <strong
        >I count with the <em class="italic">Programming and communication skills</em> to work.</strong
      > My objective is to build good applications that cause impact on users lifes.
    </p>
  </div>

  <img width="200" height="200" src="/public/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
